html {
  background-color: #3e3b4a;
  margin:auto;
}

.menu {
  background-color: pink;
  grid-area: menu;
}

.logo {
  background-color: pink;
  grid-area: logo;
}

.search {
  background-color: pink;
  grid-area: search;
}

.container {
  display: grid;
  grid-template-columns: 75px 380px 110px 365px 90px;
  grid-template-rows: 65px;
  grid-row-gap: 20px;
  grid-template-areas:
  "menu . logo . search"
}

.home {
  background-color: white;
  grid-area: h;
}

.acc {
  background-color: blue;
  grid-area: a;
}

.subs {
  background-color: yellow;
  grid-area: s;
}

.cam {
  background-color: red;
  grid-area: c;
}

.sound {
  background-color: orange;
  grid-area: so;
}

.cam2 {
  background-color: green;
  grid-area: c2;
}

.container2 {
  display: grid;
  grid-template-columns: 260px 20px 260px 20px 60px 20px 380px;
  grid-template-rows: 510px 480px 420px;
  grid-row-gap: 20px;
  grid-template-areas:
  "h h h h h h h"
  "a a a a a . s"
  "c . so . c2 c2 c2";
}

.copyright {
  background-color: white;
  grid-area: cr;
}

.socnet {
  background-color: white;
  grid-area: sn;
}

.container3 {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template:
  "cr . sn";
}
